# ====== Java =====
*.class
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear

# ====== Build Output =====
bin/
dist/
build/
target/
out/
*.min.js
*.map

# ====== IDEs =====
.classpath
.project
.settings/
bin/
.idea/
*.iml
*.iws
out/
nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.vscode/

# ====== JavaScript =====
node_modules/
npm-debug.log*
yarn.lock
yarn-debug.log*
yarn-error.log*
dist/
coverage/
*.map
config.js

# ====== Temp =====
*.tmp
*.bak
*.swp
*.swo
*.env
*~
*.orig
*.rej
*.cache

# ====== OS =====
.DS_Store
Thumbs.db
